html,body{
	margin:0;
	padding:0;
	height:100%;
}
#hotline{
	display:none;
}
#slider{
	width:100%; 
	height:320px
}
#wrapper{
	min-height:100%;
	position:relative;
}
.navbar{
	border-radius:0;
}
#myNavbar> ul> li{
	border-left:1px dotted #FFF
}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form{
	border-color:#FFF;
}
#top ul{
	list-style:none;
}
#sanpham a{
	color:#FFF;
}
.dropdown-menu{
	background:#71baab;
}
.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover{
	background:#71baab;
}
.navbar-inverse .navbar-toggle{
	border-color:#FFF;
}
.dropdown-menu li a:hover{ 
	background:none;
	font-weight:bold;
}
.dropdown-menu li:hover .sub-menu{ 
	display:block;
}
.navbar li{
	position: relative;
}
.navbar >li>.sub-menu{
	top: 40px;
	left: 0;
}
.sub-menu{
	list-style-type:none;
	display:none;
	position: absolute;
	top: 0;
	left: 100%;
	width: 230px;
	background-color: #71baab;
}
.sub-menu >li{
	padding:3px 0 3px 0;
	font-size:14px;
}
.sub-menu >li a:hover{
	background:none;
	text-decoration:none;
	font-style:italic;
	font-weight:bold;
}
.log li{
	border-right:1px dotted #CCC;
	float:left;
	margin-top:8px;
	padding-right:10px;
	margin-right:10px;	
}
.log2 li{
	float:right;
	margin-top:8px;
	padding-right:8px;	
}
@media screen and (max-width:775px){
	#logo_search{
		text-align:center;
	}
	#sd_menu{
		display:none;
	}
	#sdmenu_home{
		display:none;
	}
	.policy{
		display:none;
	}
	#myNavbar ul li{
		border-left:none;
	}
	#slider{
		width:100%; 
		height:210px
	}
	.hide_mobile{
		display:none;
	}
	#hotline{
		display:block;
	}
}
.trang a{
	padding:4px 8px 4px 8px;
	border:1px solid #999;
}
.trang a:hover{
	color:#FFF;
	background:#71baab;
	text-decoration:none;
}
.current{
	color:#FFF;
	background:#71baab;
}
#sdmenu_home a{
	color:#aaaaaa; 
}
#sdmenu_home a:hover{
	color:#71baab;
}
.hinhsp_home:hover{
	opacity:0.8;
	cursor:pointer;	
}
#tensp_home{
	color:#000;
}
#tensp_home:hover{
	color:#aaaaaa;
	cursor:pointer;
}
#pointer {
	width: 50px;
	height: 40px;
	position: relative;
	background:#f9c5c5;
	margin-left:-15px;
}
#pointer:after {
	content: "";
	position: absolute;
	left: 0;
	bottom: 0;
	width: 0;
	height: 0;
	border-left: 20px solid white;
	border-top: 20px solid transparent;
	border-bottom: 20px solid transparent;
}
#pointer:before {
	content: "";
	position: absolute;
	right: -20px;
	bottom: 0;
	width: 0;
	height: 0;
	border-left: 20px solid #f9c5c5;
	border-top: 20px solid transparent;
	border-bottom: 20px solid transparent;
}
.cont{
	font-size:17px;
}
.drift-demo-trigger:hover{
	cursor:zoom-in;
}
.zoom:after {
	content:'';
	display:block; 
	width:33px; 
	height:33px; 
	position:absolute; 
	top:0;
	left:0;
	background:url(lib/zoom/drift-master/icon.png);
}
.khung_sp{
	height:auto;
	width:auto;
}
.ten_sp{
	text-align:center;
	color:#3c3f44;
	font-weight:bold;
	font-size:20px;
}
.gia{
	color:#ed4c4c;
	text-align:center;
	font-size:18px;
	font-weight:bold;
}
#form_lienhe{
	padding:5px 0 5px 0;
}
.form_lh{
	list-style:none;
}
.form_dn{
	list-style:none;
}
.ten_tintuc{
	font-size:15px; 
	text-decoration:none; 
	color:#71baab;
}
.ten_tintuc:hover{ 
	color:#54585f;
	text-decoration:none;
}
@-webkit-keyframes hot_dm {
	0% { color: #096; } 
	50% { color: #3c8c8c;  } 
	100% { color: #042907;  } 
}
@-moz-keyframes hot_dm { 
	0% { color: #096;  } 
	50% { color: #3c8c8c;  }
	100% { color: #042907;  } 
}
@-o-keyframes hot_dm { 
	0% { color: #096; } 
	50% { color: #6FF; } 
	100% { color: #042907;  } 
}
@keyframes hot_dm { 
	0% { color: #096;  } 
	50% { color: #3c8c8c;  }
	100% { color: #042907;  } 
}
.hot_dm {
	-webkit-animation: hot_dm 700ms infinite;
	-moz-animation: hot_dm 700ms infinite; 
	-o-animation: hot_dm 700ms infinite; 
	animation: hot_dm 700ms infinite;
} 
@-webkit-keyframes hot_admin {
	0% { color: #FFF; } 
	50% { color: #6FF;  } 
	100% { color: #FCF;  } 
}
@-moz-keyframes hot_admin { 
	0% { color: #FFF;  } 
	50% { color: #6FF;  }
	100% { color: #FCF;  } 
}
@-o-keyframes hot_admin { 
	0% { color: #FFF; } 
	50% { color: #6FF; } 
	100% { color: #FCF;  } 
}
@keyframes hot_admin { 
	0% { color: #FFF;  } 
	50% { color: #6FF;  }
	100% { color: #FCF;  } 
}
.hot_admin {
	-webkit-animation: hot_admin 700ms infinite;
	-moz-animation: hot_admin 700ms infinite; 
	-o-animation: hot_admin 700ms infinite; 
	animation: hot_admin 700ms infinite;
} 
.topnav {
	overflow: hidden;
	position: relative;
	border:1px solid #71baab;
}
.topnav #myLinks {
	display: none;
}
.topnav a {
	color: #000;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
	display: block;
}
.topnav a.icon {
	border:1px dotted #71baab;
	border-right:none;
	display: block;
	position: absolute;
	right: 0;
	top: 3px;
	color: #71baab;
}
.active {
	background-color: #FFF;
	color: #000;
}
.danhmuc_sp:first-child{
	border-top:1px dashed #71baab;
}